In [1]:
import yfinance as yf
from datetime import datetime
# from tsfresh import extract_features

In [ ]:
#

In [2]:
# Get the list of Vanguard ETFs
vanguard_etfs = [
    "VOO",  # Vanguard S&P 500 ETF
    "VTI",  # Vanguard Total Stock Market ETF
    "BND",  # Vanguard Total Bond Market ETF
    "VNQ",  # Vanguard Real Estate ETF
    "VEA",  # Vanguard FTSE Developed Markets ETF
    "VWO",  # Vanguard FTSE Emerging Markets ETF
    "VO",   # Vanguard Mid-Cap ETF
    "VB",   # Vanguard Small-Cap ETF
    "VT",   # Vanguard Total World Stock ETF
    "VUG",  # Vanguard Growth ETF
    "VYM",  # Vanguard High Dividend Yield ETF
]

# Calculate the 10-year return for each ETF
end_date = datetime.now()
start_date = end_date.replace(year=end_date.year - 10)

etfs = []
# columns rem

# get data for every etf 
for syb in vanguard_etfs:
    data = yf.download(syb, start=start_date, end=end_date)
    data.to_csv(f"data/yfdata/{syb}.csv")
    etfs.append(data)

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

In [29]:

temp = etfs[0]
temp['mean'] = temp[['High', 'Low']].mean(axis=1)
temp

,Open,High,Low,Close,Adj Close,Volume,Avg
Date,,,,,,,
2014-07-10,179.009995,180.470001,178.839996,180.029999,150.864349,614600,179.654999
2014-07-11,179.940002,180.360001,179.509995,180.270004,151.065491,520400,179.934998
2014-07-14,181.199997,181.410004,181.020004,181.160004,151.811295,493100,181.215004
2014-07-15,181.250000,181.630005,180.059998,180.850006,151.551529,1207000,180.845001
2014-07-16,181.649994,181.759995,181.009995,181.539993,152.129684,539400,181.384995
...,...,...,...,...,...,...,...
2024-07-02,499.690002,504.609985,499.609985,504.529999,504.529999,4210100,502.109985
2024-07-03,504.220001,507.140015,504.220001,506.809998,506.809998,2131100,505.680008
2024-07-05,507.130005,510.100006,506.489990,509.839996,509.839996,3156900,508.294998
2024-07-08,510.500000,511.209991,509.320007,510.329987,510.329987,3143400,510.264999
2024-07-09,511.209991,512.010010,510.540009,510.890015,510.890015,3140600,511.275009

In [13]:
import pandas as pd
import yfinance as yf
from tsfresh import extract_features

# Download data
ticker = 'AAPL'
data = yf.download(ticker, start="2020-01-01", end="2021-01-01")

# Reset index to get 'Date' as a column
data.reset_index(inplace=True)

# Create a long format DataFrame for each column
long_format_data = pd.DataFrame()

for col in ['Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume']:
    temp_df = data[['Date', col]].copy()
    temp_df['id'] = col
    temp_df.rename(columns={'Date': 'time', col: 'value'}, inplace=True)
    long_format_data = pd.concat([long_format_data, temp_df], axis=0)

# Reset index
long_format_data.reset_index(drop=True, inplace=True)

# Extract features
extracted_features = extract_features(long_format_data, column_id='id', column_sort='time')

# Transpose extracted_features so that we have one row per feature and one column per stock data column
extracted_features_transposed = extracted_features.transpose()

# Combine the extracted features with the original data
merged_data = pd.concat([data, extracted_features_transposed], axis=1)

# Display the merged data
merged_data

[*********************100%%**********************]  1 of 1 completed

Feature Extraction: 100%|██████████| 6/6 [00:29<00:00,  4.91s/it]

                                                         Date       Open  \
0                                                  2020-01-02  74.059998
1                                                  2020-01-03  74.287498
2                                                  2020-01-06  73.447502
3                                                  2020-01-07  74.959999
4                                                  2020-01-08  74.290001
...                                                       ...        ...
value__permutation_entropy__dimension_5__tau_1            NaT        NaN
value__permutation_entropy__dimension_6__tau_1            NaT        NaN
value__permutation_entropy__dimension_7__tau_1            NaT        NaN
value__query_similarity_count__query_None__thre...        NaT        NaN
value__mean_n_absolute_max__number_of_maxima_7            NaT        NaN

                                                         High        Low  \
0                                                   75.150002  73.797501
1                                                   75.144997  74.125000
2                                                   74.989998  73.187500
3                                                   75.224998  74.370003
4                                                   76.110001  74.290001
...                                                       ...        ...
value__permutation_entropy__dimension_5__tau_1            NaN        NaN
value__permutation_entropy__dimension_6__tau_1            NaN        NaN
value__permutation_entropy__dimension_7__tau_1            NaN        NaN
value__query_similarity_count__query_None__thre...        NaN        NaN
value__mean_n_absolute_max__number_of_maxima_7            NaN        NaN

                                                        Close  Adj Close  \
0                                                   75.087502  72.960464
1                                                   74.357498  72.251129
2                                                   74.949997  72.826866
3                                                   74.597504  72.484352
4                                                   75.797501  73.650345
...                                                       ...        ...
value__permutation_entropy__dimension_5__tau_1            NaN        NaN
value__permutation_entropy__dimension_6__tau_1            NaN        NaN
value__permutation_entropy__dimension_7__tau_1            NaN        NaN
value__query_similarity_count__query_None__thre...        NaN        NaN
value__mean_n_absolute_max__number_of_maxima_7            NaN        NaN

                                                         Volume   Adj Close  \
0                                                   135480400.0         NaN
1                                                   146322800.0         NaN
2                                                   118387200.0         NaN
3                                                   108872000.0         NaN
4                                                   132079200.0         NaN
...                                                         ...         ...
value__permutation_entropy__dimension_5__tau_1              NaN    4.202993
value__permutation_entropy__dimension_6__tau_1              NaN    4.977041
value__permutation_entropy__dimension_7__tau_1              NaN    5.333282
value__query_similarity_count__query_None__thre...          NaN         NaN
value__mean_n_absolute_max__number_of_maxima_7              NaN  131.016192

                                                         Close        High  \
0                                                          NaN         NaN
1                                                          NaN         NaN
2                                                          NaN         NaN
3                                                          NaN         NaN
4                                                          NaN         NaN
...                                                        ...         ...
value__permutation_entropy__dimension_5__tau_1        4.202993    4.020797
value__permutation_entropy__dimension_6__tau_1        4.977041    4.786510
value__permutation_entropy__dimension_7__tau_1        5.333282    5.247211
value__query_similarity_count__query_None__thre...         NaN         NaN
value__mean_n_absolute_max__number_of_maxima_7      133.714286  136.292858

                                                           Low        Open  \
0                                                          NaN         NaN
1                                                          NaN         NaN
2                                                          NaN         NaN
3                                                          NaN         NaN
4                                                          NaN         NaN
...                                                        ...         ...
value__permutation_entropy__dimension_5__tau_1        3.776398    4.264954
value__permutation_entropy__dimension_6__tau_1        4.572677    5.016352
value__permutation_entropy__dimension_7__tau_1        5.023906    5.327669
value__query_similarity_count__query_None__thre...         NaN         NaN
value__mean_n_absolute_max__number_of_maxima_7      132.197141  134.887144

                                                          Volume
0                                                            NaN
1                                                            NaN
2                                                            NaN
3                                                            NaN
4                                                            NaN
...                                                          ...
value__permutation_entropy__dimension_5__tau_1      4.410849e+00
value__permutation_entropy__dimension_6__tau_1      5.175816e+00
value__permutation_entropy__dimension_7__tau_1      5.445532e+00
value__query_similarity_count__query_None__thre...           NaN
value__mean_n_absolute_max__number_of_maxima_7      3.827258e+08

[1036 rows x 13 columns]

,Date,Open,High,Low,Close,Adj Close,Volume,Adj Close,Close,High,Low,Open,Volume
0,2020-01-02,74.059998,75.150002,73.797501,75.087502,72.960464,135480400.0,NaN,NaN,NaN,NaN,NaN,NaN
1,2020-01-03,74.287498,75.144997,74.125000,74.357498,72.251129,146322800.0,NaN,NaN,NaN,NaN,NaN,NaN
2,2020-01-06,73.447502,74.989998,73.187500,74.949997,72.826866,118387200.0,NaN,NaN,NaN,NaN,NaN,NaN
3,2020-01-07,74.959999,75.224998,74.370003,74.597504,72.484352,108872000.0,NaN,NaN,NaN,NaN,NaN,NaN
4,2020-01-08,74.290001,76.110001,74.290001,75.797501,73.650345,132079200.0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
value__permutation_entropy__dimension_5__tau_1,NaT,NaN,NaN,NaN,NaN,NaN,NaN,4.202993,4.202993,4.020797,3.776398,4.264954,4.410849e+00
value__permutation_entropy__dimension_6__tau_1,NaT,NaN,NaN,NaN,NaN,NaN,NaN,4.977041,4.977041,4.786510,4.572677,5.016352,5.175816e+00
value__permutation_entropy__dimension_7__tau_1,NaT,NaN,NaN,NaN,NaN,NaN,NaN,5.333282,5.333282,5.247211,5.023906,5.327669,5.445532e+00
value__query_similarity_count__query_None__threshold_0.0,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
value__mean_n_absolute_max__number_of_maxima_7,NaT,NaN,NaN,NaN,NaN,NaN,NaN,131.016192,133.714286,136.292858,132.197141,134.887144,3.827258e+08